<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name="username" ng-model='user.username' ng-minlength="3" ng-maxlength="25" required>
    <input type="password" ng-model='user.password'>
    <button>signup</button>
    <div ng-show="signupForm.username.$error.minlength">Username is too short</div>
    <div ng-show="signupForm.username.$error.maxlength">Username is too long</div>
    <div ng-show="signupForm.username.$error.required">Username is required</div>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
